.post {
  background-color: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;
}

/* Estliziando todo o post que antes dele tenha um post: */
.post + .post {
  margin-top: 2rem;
}

/* Header: */

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postAuthor {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorDetails strong {
  display: block;
  color: var(--gray-100);
  line-height: 1.6;
}

.authorDetails span {
  display: block;
  line-height: 1.6;
  font-size: 0.875rem;
  color: var(--gray-400);
}

.postTimesStamp {
  line-height: 1.6;
  font-size: 0.875rem;
  color: var(--gray-400);
}

/* Conteúdo: */

.postContent {
  margin-top: 1rem;
  color: var(--gray-300);
  line-height: 1.6;
}

.postContent p {
  margin-top: 1rem;
}

.postContent a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.postContent a:hover {
  color: var(--green-300);
}

/* Formulário de Comentários: */

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm > strong {
  line-height: 1.6;
  color: var(--gray-100);
}

.commentForm textarea {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--gray-900);
  color: var(--gray-100);
  line-height: 1.4;
  border: 0;
  border-radius: 8px;
  resize: none;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

/* Se houver um focu em qualquer elemento dentro do comment form... */
.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: var(--green-500);
  color: var(--white);
  font-weight: bold;
  transition: background-color 0.2s;
}

.commentForm button:not(:disabled):hover {
  background-color: var(--green-300);
  cursor: pointer;
}

.commentForm button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}